*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#898B8D;
}

.pai{
    display: flex;
    width: 1440px;
    height: 900px;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.section-imagem{
    width: 70vw;
    z-index: 1000;
}


.section-infos{
    width: 100vw;
    margin-right: 60px;
}

.section-infos h1{
    text-align: right;
    color: #FF0000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 64px;
    padding: 100px 0px 0px 0px;
}

.section-infos h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 64px;
    font-style: italic;
    text-align: right;
    font-weight: 1;
    padding-bottom: 50px;
}

.section-infos h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    font-size: 20px;
    font-weight:bold;
    color: #898B8D;
}

.paragrafo{
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    font-weight: 1;  
    font-size: 25px;
    color: #898B8D;
    padding-bottom: 30px;

}
    
.ultimo-paragrafo{
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    color: white;
    font-size: 25px;
    margin-right: 20px;
}

.logos img{
    width:150px;
    height:50px;
}

.logos {
    display: flex;
    justify-content: flex-end;   
    gap: 20px;
    padding-top: 100px;
}

.faixa-vermelha{
    display: flex;
    justify-content: flex-end; 
    align-items: center;     
    background-color: #FF0000;
    width: 79%;
    height: 50px;
    position: absolute;
    left: 240px;;
}

